---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

header {
  padding: 2em;
  text-align: center;
  background-image: url('./images/background-header.jpg');
  background-size: cover;
  background-position: fixed;
}
